name: Upload CLI binaries

on:
  release:
    types:
      - released

env:
  TAG: ${{ github.event.release.tag_name }} # had some issue using this directly on windows

jobs:
  linux:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Cache
        uses: Swatinem/rust-cache@v1
      - name: Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: GCloud
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc-multilib  # required to build for 32-bit arch

      - name: Install aarch64-unknown-linux-gnu linker
        if: ${{ matrix.target == 'aarch64-unknown-linux-gnu' }}
        run: sudo apt install -y gcc-aarch64-linux-gnu
      - name: Install armv7-unknown-linux-gnueabihf linker
        if: ${{ matrix.target == 'armv7-unknown-linux-gnueabihf' }}
        run: sudo apt install -y gcc-arm-linux-gnueabihf

      - name: Deploy
        run: |
          rustup target add ${{ matrix.target }}

          # build and deploy CLI
          cargo build -p tmc-langs-cli --release --target ${{ matrix.target }}
          gsutil cp target/${{ matrix.target }}/release/tmc-langs-cli gs://${{ secrets.GCP_BUCKET }}/tmc-langs-rust/tmc-langs-cli-${{ matrix.target }}-$TAG
